{block content}

<h1 n:block="title">Nový projekt</h1>

<div id="context_menu">
    <a n:href="Project:translation">Překlad</a>
    <a n:href="Project:proofreading">Korektura</a>
    <a n:href="Project:transproof">Překlad + korektura</a>
    <a n:href="Project:interpretation">Tlumočení</a>
</div>

{/block}
